.create-form {
	@extend .page;
	display: flex;
	flex-direction: column;

	&__alert {
		margin-bottom: 2rem;
	}

	&__input {
		margin-bottom: 2rem;
	}
	&__button {
		margin: 2rem 0 1rem 0;
		align-self: start;
	}
}

.file-upload {
	margin-bottom: 2rem;
}
