.footer {
	background-color: #f0b5a2;
	padding: 2rem 4rem;
	box-shadow: $shadow-reverse;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include respond(md) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
	}
	&__link {
		padding: 0.5rem 1rem;
		margin: 0 0 1rem 0;

		@include respond(md) {
			margin: 0 1rem 0 0;
		}
	}
	&__link,
	&__copy {
		color: #eee;
		font-size: 1.7rem;
	}
	&__copy {
		text-align: center;
	}
}
