$grey-darker: #606f7b;
$teal: #4abdac;
$teal-dark: #38a89d;
$white: #fff;
$grey-lightest: #f8fafc;
$grey-darkest: #3d4852;
$grey-lighter: #f1f5f8;

$light-grey: #ebe9e9;
$grey: #b8c2cc;

$shadow: 0 2px 4px rgba(0, 0, 0, .1);
$shadow-reverse: 0 -1px 1px 0px rgba(0, 0, 0, .1);
